<main class="container">
  <h1>Lightweight Metronome</h1>

  <form class="form"
    (ngSubmit)="startMetronome($event, bmpInput.value, selectedTimeSignature)">
    <div class="row">
      <label for="bpm-input" class="label">BPM</label>
      <input #bmpInput id="bpm-input" type="number" value="{{bpm}}" />
    </div>

    <div class="row">
      <input type="radio" id="threeFour" name="timeSignature" value="3" checked="true"
        [(ngModel)]="selectedTimeSignature" #timeSignatureRadioButton>
      <label for="threeFour">3/4</label><br>

      <input type="radio" id="fourFour" name="timeSignature" value="4"
        [(ngModel)]="selectedTimeSignature" #timeSignatureRadioButton>
      <label for="fourFour">4/4</label><br>

      <input type="radio" id="fourSix" name="timeSignature" value="6"
        [(ngModel)]="selectedTimeSignature" #timeSignatureRadioButton>
      <label for="fourSix">6/8</label><br>
    </div>

    <div class="row">
      <button #startMetronomeButton id="start-metronom-button"
        class="button start-button"
        type="submit">Start</button>
      <button #stopMetronomeButton id="start-metronom-button"
        class="button stop-button"
        type="button"
        (click)="stopMetronome()">Stop</button>
    </div>

  </form>

  <div class="row beat-container">
    @for(beat of beats; track beat; let index = $index) {
    <span
      class="beat" id="beat-{{index}}"></span>
    }
  </div>

</main>
